<template>
  <div class="about container">
    <h1>About the experiment</h1>
    <p>A gesture-based user interface using <a href="https://vuejs.org/" target="_blank">#VueJS</a>, <a href="https://www.tensorflow.org/js" target="_blank">#TensorFlowJS</a> and <a href="https://threejs.org/" target="_blank">#ThreeJS</a></p>
  </div>
</template>
