<template>
  <div class="gesture-three container">
    <GestureInteraction />
  </div>
</template>

<script>
// @ is an alias to /src
import GestureInteraction from '@/components/GestureInteraction.vue'

export default {
  name: 'gesture-three',
  components: {
    GestureInteraction
  }
}
</script>
<style scoped lang="scss">
.gesture-three {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;
}
.container {
  padding: 0;
  // width: 100vw;
  // height: 100vh;
}
</style>
