<template>
  <div class="hand-track container">
    <HandTracking />
  </div>
</template>

<script>
// @ is an alias to /src
import HandTracking from '@/components/HandTracking.vue'

export default {
  name: 'hand-track',
  components: {
    HandTracking
  }
}
</script>
