<template>
  <div class="home container">
    <img alt="Human Beyond Labs" src="../assets/logo.svg" width="360px" height="auto">
    <Intro msg="Prototypes ahead..." />
  </div>
</template>

<script>
// @ is an alias to /src
import Intro from '@/components/Intro.vue'

export default {
  name: 'home',
  components: {
    Intro
  }
}
</script>
