<template>
  <div class="pose-from-webcam container">
    <PoseCamera />
  </div>
</template>

<script>
// @ is an alias to /src
import PoseCamera from '@/components/PoseCamera.vue'

export default {
  name: 'pose-from-webcam',
  components: {
    PoseCamera
  }
}
</script>
