<template>
  <div class="tensorflow-training container">
    <ModelTrain />
  </div>
</template>

<script>
// @ is an alias to /src
import ModelTrain from '@/components/ModelTrain.vue'

export default {
  name: 'tensorflow-train',
  components: {
    ModelTrain
  }
}
</script>
