<template>
  <div class="three-on-vue container">
    <ThreeVue />
  </div>
</template>

<script>
// @ is an alias to /src
import ThreeVue from '@/components/ThreeVue.vue'

export default {
  name: 'three-on-vue',
  components: {
    ThreeVue
  }
}
</script>
<style scoped lang="scss">
.three-on-vue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;
}
.container {
  padding: 0;
  // width: 100vw;
  // height: 100vh;
}
</style>
