<template>
  <div class="webcam container">
    <Camera />
  </div>
</template>

<script>
// @ is an alias to /src
import Camera from '@/components/Camera.vue'

export default {
  name: 'camera',
  components: {
    Camera
  }
}
</script>
