<template>
  <div>
    <video ref="video" id="video" width="640" height="480" autoplay></video>
    <div><button id="snap" v-on:click="capture()">Snap Photo</button></div>
    <canvas ref="canvas" id="canvas" width="640" height="480"></canvas>
    <ul>
      <li v-for="c in captures" :key="c">
        <img v-bind:src="c" height="50" />
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'webcam',
  components: {},
  data () {
    return {
      video: {},
      canvas: {},
      captures: [],
      width: 640,
      height: 480
    }
  },
  computed: {},
  mounted () {
    this.loadVideo()
  },
  methods: {
    capture () {
      this.canvas = this.$refs.canvas
      let context = this.canvas.getContext('2d')
      if (this.width && this.height) {
        this.canvas.width = this.width
        this.canvas.height = this.height
        context.drawImage(this.video, 0, 0, this.width, this.height)

        let data = this.canvas.toDataURL('image/png')
        this.captures.push(data)
      }
    },
    async setupCamera () {
      if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
        throw new Error(
          'Browser API navigator.mediaDevices.getUserMedia not available'
        )
      }

      // this.video = document.getElementById('video')
      this.video = this.$refs.video
      this.video.width = this.width
      this.video.height = this.height

      const mobile = this.isMobile()
      const stream = await navigator.mediaDevices.getUserMedia({
        audio: false,
        video: {
          facingMode: 'user',
          width: mobile ? undefined : this.width,
          height: mobile ? undefined : this.height
        }
      })
      this.video.srcObject = stream

      return new Promise(resolve => {
        this.video.onloadedmetadata = () => {
          resolve(this.video)
        }
      })
    },
    // Check on the device that you are viewing it from
    isAndroid () {
      return /Android/i.test(navigator.userAgent)
    },
    isiOS () {
      return /iPhone|iPad|iPod/i.test(navigator.userAgent)
    },
    isMobile () {
      return this.isAndroid() || this.isiOS()
    },
    async loadVideo () {
      const video = await this.setupCamera()
      video.play()
      return video
    }
  }
}
</script>

<style scoped>
video {
  object-fit: cover;
}

#video {
  background-color: #000000;
}
#canvas {
  display: none;
}
li {
  display: inline;
  padding: 5px;
}
</style>
