<template>
  <div id="gesture-three">
    <video
      id="video"
      playsinline
      style=" -moz-transform: scaleX(-1);
         -o-transform: scaleX(-1);
         -webkit-transform: scaleX(-1);
         transform: scaleX(-1);
         display: none;
         "
    ></video>
  </div>
</template>

<script>
// import * as animator from '../services/animation.js'
import * as THREE from 'three'
import { TimelineLite, Expo } from 'gsap'
import { getVideoStream } from '../services/webcam'
import { initPoseNet, estimateSingle } from '../services/poseNet'
export default {
  name: 'GestureInteraction',
  data () {
    return {
      camera: null,
      scene: null,
      renderer: null,
      mesh: null,
      sphereMesh: null,
      raycaster: null,
      mouse: {},
      meshX: null,
      threeCanvas: null,
      tl: null,
      windowWidth: 0,
      windowHeight: 0,
      stream: null,
      net: null,
      pose: null
    }
  },
  mounted: async function () {
    // Initialize the window size
    this.getWindowWidth()
    this.getWindowHeight()

    window.addEventListener('resize', this.getWindowWidth)
    window.addEventListener('resize', this.getWindowHeight)
    // window.addEventListener('resize', this.reRender)
    window.addEventListener('resize', () => {
      this.renderer.setSize(this.windowWidth, this.windowHeight)
      this.camera.aspect = this.windowWidth / this.windowHeight
      this.camera.updateProjectionMatrix()
    })
    window.addEventListener('mousemove', this.onMouseMove)

    this.threeCanvas = document.getElementById('gesture-three')
    // let context = animator.createBoxRotationContext(threeCanvas)
    // context.init()
    // context.render()
    this.camera = new THREE.PerspectiveCamera(
      70,
      this.windowWidth / this.windowHeight,
      // 500 / 500,
      0.01,
      10
    )
    this.camera.position.z = 10

    this.scene = new THREE.Scene()

    let geometry = new THREE.BoxGeometry(1, 1, 1)
    let material = new THREE.MeshLambertMaterial({ color: 0xd60a7c })
    // this.mesh = new THREE.Mesh(geometry, material)
    // this.scene.add(this.mesh)
    // this.meshX = -10
    for (let i = 0; i < 12; i++) {
      this.mesh = new THREE.Mesh(geometry, material)
      this.mesh.position.x = (Math.random() - 0.3) * 8
      this.mesh.position.y = (Math.random() - 0.3) * 8
      this.mesh.position.z = (Math.random() - 0.3) * 8
      this.scene.add(this.mesh)
      // this.meshX += 1
    }

    let sphereGeometry = new THREE.SphereGeometry(0.3, 24, 24)
    let sphereMaterial = new THREE.MeshLambertMaterial({ color: 0x0dd287 })
    this.sphereMesh = new THREE.Mesh(sphereGeometry, sphereMaterial)
    this.sphereMesh.position.x = 0
    this.sphereMesh.position.y = 0
    this.sphereMesh.position.z = 0
    this.sphereMesh.userData.name = 'pointer'
    this.scene.add(this.sphereMesh)

    let lightA = new THREE.PointLight(0xFFFFFF, 1, 1000)
    lightA.position.set(0, 0, 0)
    this.scene.add(lightA)

    let lightB = new THREE.PointLight(0xFFFFFF, 2, 1000)
    lightB.position.set(0, 0, 25)
    this.scene.add(lightB)

    this.raycaster = new THREE.Raycaster()
    this.mouse = new THREE.Vector2()

    this.renderer = new THREE.WebGLRenderer({ antialias: true })
    this.renderer.setClearColor('#e5e5e5')
    this.renderer.setSize(this.windowWidth, this.windowHeight)
    this.threeCanvas.appendChild(this.renderer.domElement)
    this.render()
    this.detectPoseInRealTime()
  },
  methods: {
    render () {
      requestAnimationFrame(this.render)
      // this.mesh.rotation.x += 0.02
      // this.mesh.rotation.y += 0.05
      // this.tl.to(this.mesh.position, 0.5, { x: 2 })
      // this.tl.to(this.mesh.scale, 0.5, { x: 0.5 })
      this.renderer.render(this.scene, this.camera)
    },
    async detectPoseInRealTime () {
      let stream = await getVideoStream()
      let net = await initPoseNet()
      let sphere = this.sphereMesh
      async function poseDetectionFrame () {
        let pose = estimateSingle(net, stream)
        console.log(pose)
        if (pose._v.score >= 0.3 && pose._v.keypoints[0].score >= 0.5) {
          sphere.position.z = 0
          sphere.position.x = pose._v.keypoints[0].position.x
          sphere.position.y = pose._v.keypoints[0].position.y
        }
        if (this.pose !== undefined) {
        }
        requestAnimationFrame(poseDetectionFrame)
      }
      poseDetectionFrame()
    },
    reRender () {
      this.renderer.setSize(this.getWindowWidth, this.getWindowHeight)
      this.camera.aspect = this.getWindowWidth / this.getWindowHeight
      this.camera.updateProjectionMatrix()
    },
    onMouseMove (event) {
      event.preventDefault()
      // requestAnimationFrame(this.onMouseMove)
      // console.log(event.clientX)
      // console.log(window.innerWidth)
      this.mouse.x = (event.clientX / window.innerWidth) * 2 - 1
      this.mouse.y = -(event.clientY / window.innerHeight) * 2 + 1

      // this.sphereMesh.position.x = this.mouse.x * 14
      // this.sphereMesh.position.y = this.mouse.y * 7
      // this.sphereMesh.position.z = 0
      // this.sphereMesh.position.x = this.pose._v.keypoints[0].position.x
      // this.sphereMesh.position.y = this.pose._v.keypoints[0].position.y

      this.raycaster.setFromCamera(this.mouse, this.camera)

      var intersects = this.raycaster.intersectObjects(this.scene.children, true)
      for (let i = 0; i < intersects.length; i++) {
        if (intersects[0].object.userData.name !== 'pointer') {
          // console.log(this.pose._v.keypoints[0].score)
          this.tl = new TimelineLite()
          this.tl.to(intersects[0].object.scale, 1, { x: 2, ease: Expo.easeOut })
          this.tl.to(intersects[0].object.scale, 0.5, { x: 0.5, ease: Expo.easeOut })
          this.tl.to(intersects[0].object.position, 0.5, { x: 1.5, ease: Expo.easeOut })
          this.tl.to(intersects[0].object.rotation, 0.5, { y: Math.PI * 0.5, ease: Expo.easeOut }, '=-1.5')
        }
      }
    },
    getWindowWidth (event) {
      this.windowWidth = window.innerWidth
    },

    getWindowHeight (event) {
      this.windowHeight = window.innerHeight
    }
  },
  created: {
    function () {
    }
  },
  destroyed: {
    function () {
      window.removeEventListener('mousemove', this.onMouseMove)
    }
  }
}
</script>

<style scoped lang="scss">
body {
}
canvas {
  // display: block;
}
#gesture-three {
  width: 100%;
  height: 100%;
  background-color:  #e5e5e5;
}
</style>
