<template>
  <div class="hand-tracking"></div>
</template>

<script>
export default {
  name: 'HandTracking',
  data () {
    return {}
  },
  mounted () {},
  methods: {}
}
</script>

<style scoped lang="scss"></style>
