<template>
  <div id="three-vue"></div>
</template>

<script>
// import * as animator from '../services/animation.js'
import * as THREE from 'three'
import { TimelineLite, Expo } from 'gsap'

export default {
  name: 'ThreeVue',
  data () {
    return {
      camera: null,
      scene: null,
      renderer: null,
      mesh: null,
      raycaster: null,
      mouse: {},
      meshX: null,
      threeCanvas: null,
      tl: null,
      windowWidth: 0,
      windowHeight: 0
    }
  },
  mounted: function () {
    // Initialize the window size
    this.getWindowWidth()
    this.getWindowHeight()

    window.addEventListener('resize', this.getWindowWidth)
    window.addEventListener('resize', this.getWindowHeight)
    // window.addEventListener('resize', this.reRender)
    window.addEventListener('resize', () => {
      this.renderer.setSize(this.windowWidth, this.windowHeight)
      this.camera.aspect = this.windowWidth / this.windowHeight
      this.camera.updateProjectionMatrix()
    })
    window.addEventListener('mousemove', this.onMouseMove)

    this.threeCanvas = document.getElementById('three-vue')
    // let context = animator.createBoxRotationContext(threeCanvas)
    // context.init()
    // context.render()
    this.camera = new THREE.PerspectiveCamera(
      70,
      this.windowWidth / this.windowHeight,
      // 500 / 500,
      0.01,
      10
    )
    this.camera.position.z = 10

    this.scene = new THREE.Scene()

    let geometry = new THREE.BoxGeometry(1, 1, 1)
    let material = new THREE.MeshLambertMaterial({ color: 0xd60a7c })
    // this.mesh = new THREE.Mesh(geometry, material)
    // this.scene.add(this.mesh)
    // this.meshX = -10
    for (let i = 0; i < 12; i++) {
      this.mesh = new THREE.Mesh(geometry, material)
      this.mesh.position.x = (Math.random() - 0.3) * 8
      this.mesh.position.y = (Math.random() - 0.3) * 8
      this.mesh.position.z = (Math.random() - 0.3) * 8
      this.scene.add(this.mesh)
      // this.meshX += 1
    }

    let lightA = new THREE.PointLight(0xFFFFFF, 1, 1000)
    lightA.position.set(0, 0, 0)
    this.scene.add(lightA)

    let lightB = new THREE.PointLight(0xFFFFFF, 2, 1000)
    lightB.position.set(0, 0, 25)
    this.scene.add(lightB)

    this.raycaster = new THREE.Raycaster()
    this.mouse = new THREE.Vector2()

    this.renderer = new THREE.WebGLRenderer({ antialias: true })
    this.renderer.setClearColor('#e5e5e5')
    this.renderer.setSize(this.windowWidth, this.windowHeight)
    this.threeCanvas.appendChild(this.renderer.domElement)
    this.render()
  },
  methods: {
    render () {
      requestAnimationFrame(this.render)
      // this.mesh.rotation.x += 0.02
      // this.mesh.rotation.y += 0.05
      // this.tl.to(this.mesh.position, 0.5, { x: 2 })
      // this.tl.to(this.mesh.scale, 0.5, { x: 0.5 })
      this.renderer.render(this.scene, this.camera)
    },
    reRender () {
      this.renderer.setSize(this.getWindowWidth, this.getWindowHeight)
      this.camera.aspect = this.getWindowWidth / this.getWindowHeight
      this.camera.updateProjectionMatrix()
    },
    onMouseMove (event) {
      event.preventDefault()
      // requestAnimationFrame(this.onMouseMove)
      // console.log(event.clientX)
      // console.log(window.innerWidth)
      // TODO: verify mouse position
      this.mouse.x = (event.clientX / window.innerWidth) * 2 - 1
      this.mouse.y = -(event.clientY / window.innerHeight) * 2 + 1

      this.raycaster.setFromCamera(this.mouse, this.camera)

      var intersects = this.raycaster.intersectObjects(this.scene.children, true)
      for (let i = 0; i < intersects.length; i++) {
        // console.log(intersects[0].object)
        this.tl = new TimelineLite()
        this.tl.to(intersects[0].object.scale, 1, { x: 2, ease: Expo.easeOut })
        this.tl.to(intersects[0].object.scale, 0.5, { x: 0.5, ease: Expo.easeOut })
        this.tl.to(intersects[0].object.position, 0.5, { x: 1.5, ease: Expo.easeOut })
        this.tl.to(intersects[0].object.rotation, 0.5, { y: Math.PI * 0.5, ease: Expo.easeOut }, '=-1.5')
      }
      // if (intersects.length !== 0) {
      //   console.log(intersects[0].object)
      //   // intersects[0].object.rotateX(45)
      // this.tl.to(intersects[0].object.scale, 1, { x: 2, ease: Expo.easeOut })
      // this.tl.to(intersects[0].object.scale, 0.5, { x: 0.5, ease: Expo.easeOut })
      // this.tl.to(intersects[0].object.position, 0.5, { x: 2, ease: Expo.easeOut })
      // this.tl.to(intersects[0].object.rotation, 0.5, { y: Math.PI * 0.5, ease: Expo.easeOut }, '=-1.5')
      // }
      // this.renderer.render(this.scene, this.camera)
      // ease: Expo.easeOut
    },
    getWindowWidth (event) {
      this.windowWidth = window.innerWidth
    },

    getWindowHeight (event) {
      this.windowHeight = window.innerHeight
    }
  },
  created: {
    function () {
    }
  },
  destroyed: {
    function () {
      window.removeEventListener('mousemove', this.onMouseMove)
    }
  }
}
</script>

<style scoped lang="scss">
body {
}
canvas {
  // display: block;
}
#three-vue {
  width: 100%;
  height: 100%;
  background-color:  #e5e5e5;
}
</style>
