<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/webcam">Webcam</router-link> |
      <router-link to="/tensorflow-train">TensorFlow Train</router-link> |
      <router-link to="/pose-from-webcam">Pose from Webcam</router-link> |
      <router-link to="/hand-track">Hand Tracking</router-link> |
      <router-link to="/three-on-vue">ThreeJS</router-link> |
      <router-link to="/gesture-three">Gestures Interaction</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<script type="text/javascript">
export default {
  data: function () {
    return {
      windowWidth: 0,
      windowHeight: 0
    }
  },

  mounted () {
    this.$nextTick(function () {
      window.addEventListener('resize', this.getWindowWidth)
      window.addEventListener('resize', this.getWindowHeight)
      // Init
      this.getWindowWidth()
      this.getWindowHeight()
    })
  },

  methods: {
    getWindowWidth (event) {
      this.windowWidth = document.documentElement.clientWidth
    },
    getWindowHeight (event) {
      this.windowHeight = document.documentElement.clientHeight
    }
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.getWindowWidth)
    window.removeEventListener('resize', this.getWindowHeight)
  }
}
</script>

<style lang="scss">
body {
  margin: 0;
  width: 100vw;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100vw;
}
#nav {
  padding: 20px 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 95vw;
  height: auto;
  z-index: 2;
}
.container {
  width: 100%;
  height: auto;
  padding-top: 8%;
  text-align: center;
}
</style>
